%script{:type => 'text/javascript'}
	=@graph
%script{:type => 'text/javascript', :src => '/highcharts.alt.js'}
%script{:type => 'text/javascript', :src => '/exporting.js'}
%script{:type => 'text/javascript', :src => '/canvas-tools.js'}
%script{:type => 'text/javascript', :src => '/grey.js'}
%style
	="body {background-color: #303030;}"
%div#container{:style => 'width:auto;height:450px;'}